body {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

header {
    margin: 3%;
    text-align: center;
    font-size: 2em;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
    height: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:blueviolet;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    background-color: darkred;
}

.selected {
    background-color: green;
}

#player-1 {
    background-color: cadetblue;
}

#player-2 {
    background-color: coral;
}