:root {
    --main-font-color001: whitesmoke;
    --main-font-color002: floralwhite;
    --main-font-color003: honeydew;
    --main-bg-color001: cadetblue;
    --match-003: rebeccapurple;
    --match-001: #000000;    
    --selected-class: rgb(172, 113, 181);
    --selected-classV2: inherited;
    --false-reader: rgb(110, 84, 75);
    --background-colorV3: rgb(201, 157, 76);
    --background-color: #e91e63;
    --orange-red: orangered;
  }

  * {
    padding: 0;
    margin: 0;
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    font-weight: bolder;
}

header {
    height: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    align-content: center;
    font-size: 2em;
    color: var(--match-001);
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
    max-width: 700px;
    height: 50vh;
    margin: 10vh auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    background-color:var(--match-001);
}

#gameboard > div  {
    align-content: center;
    text-align: center;
    color: var(--match-001);
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
}

.selected {
    background-color: var(--background-color);
    font-size: 2.3rem;
}

#gameboardStats {
    height: 20vh;
    background-color: var(--match-001);
    margin-bottom: 0;
    padding-top: 2vh; 
    padding-left: 2vw;
    /* padding-right: 2vh;    */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;    
}

#gameboardStats * {
    color: var(--background-color);

}

#gameboardStats > #board {
    padding-right: 6vw;    
    text-align: center;
}

#gameboardStats button {
    width: 100%;
    height:20%;
    background-color: var(--background-color);
    border: 0;
    color: var(--match-001);
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 2vh;
}

#gameboardStats  p {
    margin-bottom: 2vh;
}

#gameboardStats:nth-child(2) {
    padding-left: 2vw;
}

.hidden {
    visibility: hidden;
}


/* FORMAT FOR MIN AND MAX SIZES */
@media (min-width: 1000px) {
    header {
        font-size: 4em;
    }
    #gameboard {   
      width: 700px;
    }


  }

  @media only screen and (max-width: 500px) {
        div#gameboardStats {
            
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }

        /* #gameboardStats > * {
            display: flex;  
            align-items: baseline;          
        } */

        #board {
            order: 3;
            display: flex;
            flex-direction: column-reverse;
        }  
        #gameboardStats button {
            padding-bottom: 30px;
        }  
    }
