:root {
    --main-font-color001: whitesmoke;
    --main-font-color002: floralwhite;
    --main-font-color003: honeydew;
    --main-bg-color001: cadetblue;
    --purple-toned: rebeccapurple;
    --selected-class: rgb(172, 113, 181);
    --false-reader: rgb(110, 84, 75);
    --bluetoned-color: rgb(201, 157, 76);
    --orange-red: orangered;
  }

  * {
    padding: 0;
    margin: 0;
  }

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: aquamarine; */
    background-color: var(--bluetoned-color);
    font-weight: bolder;
    /* margin: auto; */
}

header {
    height: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    align-content: center;
    font-size: 2em;
    color: var(--purple-toned);
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 80%;
    max-width: 700px;
    height: 50vh;
    margin: 10vh auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    background-color:var(--purple-toned);
}

#gameboard > div  {
    align-content: center;
    text-align: center;
    color: var(--bluetoned-color);
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    background-color: var(--bluetoned-color);
}

.selected {
    background-color: var(--selected-class);
    /* font-weight: bolder; */
    font-size: xx-large;
    /* align-content: center;
    text-align: center; */
}

#gameboardStats {
    height: 20vh;
    background-color: var(--purple-toned);
    margin-bottom: 0;    
}

#player-1 {
    background-color: cadetblue;
}

#player-2 {
    background-color: coral;
}

/* FORMAT FOR MIN AND MAX SIZES */
@media (min-width: 1000px) {
    header {
        font-size: 4em;
    }
    #gameboard {   
      width: 700px;
    }


  }